{% extends "base/default-page.html" %}
{% block content %}

<body>
  <h3> Select a date range </h3>
  <form action="" method='POST' name="myform">
      {{ form.csrt_token }}
      {{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
      {{ form.enddate.label }} {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
      <p>
      {{form.submit()}}
      </p>
  </form>
  </body>   
{% endblock %}

