{% extends "/base/base-layout.html" %}
{% block body %}

<div class="ui vertical inverted sidebar">
  {% include "base/navbar.html" %}
</div>

<div class="ui fixed main menu">
  <a class="launch icon item">
    <i class="content icon"></i>
  </a>
  <div class="item">
    <a id="link" href="/" style="color: black;">
      Dustpath
    </a>
  </div>
</div>

<div class="pusher" style="min-height: 84% !important;">
  <main class="twelve wide column" style="padding-top: 3em;">
    {% block content %}{% endblock content %}
  </main>
</div>

<script>
  var dropdown = document.getElementsByClassName("ui item secondary");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  if (screen.width <= 699) {
    document.getElementById("content-desktop");
  }
</script>
{% endblock %}