{% extends "base/default-page.html" %}
{% block content %}
<div class="pusher">
  <div class="ui vertical masthead segment" style="background-color: rgba(242,245,245,0.8)">
    <div class="ui container">
      <div class="ui teal segment" style="margin-top:7%;margin-bottom:100%;">
        <h1>
          ผลลัพธ์ทั้งหมด
        </h1>
        
          <ul>
            {% for file in files %}
              <li><a href="{{url_for('maps.result', filename = file )}}">{{ file }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/python">
from browser import document, window, ajax
import javascript as js
import json
import datetime

def get_name(e):
  namefile = file
  req = ajax.ajax()
  req.open('POST', '/maps/result', True)
  req.set_header('content-type', 'application/json')
  data = json.dumps(
      {'name': namefile}
  )
  req.send(data)

document["getname"].bind("click", get_name)
</script>

{% endblock %} -->

