{% extends "base/default-page.html" %}
{% block content %}
<div class="pusher">
  <div class="ui vertical masthead segment" style="background-color: rgba(242,245,245,0.8)">
      <img src="{{ url_for('static', filename='gif/' + name)}}">
  </div>
</div>

{% endblock %} -->


